<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moronta's Shop - Cart</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="vendors/linericon/style.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="vendors/nouislider/nouislider.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/products">PRODUCTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="zonaAdmin/lista-Venta">SALES HISTORY</a></li>
                        <li class="nav-item"><a class="nav-link" href="/products/admin">MANAGE PRODUCTS</a></li>
                        <li class="nav-item"><a class="nav-link" href="/cart">SHOPPING CART</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>PRODUCTS</h1>
                <h2>
                    <a href="/cart">
                        <span class="cart" th:text="${cantCarrito}"></span>
                    </a>
                </h2>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Products in the cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p1 : ${lista}">
                        <form action="/addToCart" method="post">
                            <td><input class="idRow" readonly name="idProduct" th:value="${p1.id}"></td>
                            <td><img
                                    th:src="@{'data:' + ${p1.fotoList[0].mimeType} + '; base64,' + ${p1.fotoList[0].fotoBase64}}"
                                    width="150" height="100"></td>
                            <td th:text="${p1.nombre}"></td>
                            <td th:text="${p1.Descripcion}"></td>
                            <td th:text="${p1.precio}"></td>
                            <td>
                                <input name="cant" type="number" min="1" max="100" step="1" value="1"/>
                            </td>
                            <td>
                                <div class="container-fluid">
                                    <button class="btn btn-sm add" type="submit"><span class="material-icons">shopping_cart</span></button>
                                    <a th:href="@{/agregarcomentario(Id=${p1.id})}" class="btn btn-sm"><span class="material-icons">info</span></a>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                    <tbody>
                    <tfoot>
                    <tr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center mb-4">
                                    <nav class="d-inline-block">
                                        <ul class="pagination">
                                            <li th:class="${pagina<=cantPagina} ? 'page-item disabled' : 'page-item'"><a class="page-link" th:href="@{/products(pagina=${pagina-1})}">Anterior</a></li>
                                            <li th:class="${pagina==indice} ? 'active' : 'page-item'" th:each="indice, stat : ${#numbers.sequence(1, cantPagina, 1)}"><a class="page-link" th:href="@{/products(pagina=${indice})}" th:text="${indice}"></a>
                                            </li>
                                            <li th:class="${pagina>=cantPagina} ? 'page-item disabled' : 'page-item'" class="page-item"><a
                                                    class="page-link" th:href="@{/products(pagina=${pagina+1})}">Siguiente</a>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </tfoot>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script src="vendors/jquery/jquery-3.2.1.min.js"></script>
<script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
<script src="vendors/skrollr.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/nice-select/jquery.nice-select.min.js"></script>
<script src="vendors/jquery.ajaxchimp.min.js"></script>
<script src="vendors/mail-script.js"></script>
<script src="js/main.js"></script>
</body>
<script>
    $(document).ready(function ($) {
        var array = [];
        $('#table tbody').on('click', '#ok', function () {
            var curRow = $(this).closest('tr');
            var col0 = curRow.find('td:eq(0)').text();
            document.fcarro.x.value = col0;
        });
    })
    $(document).ready(function(){
        $("#table").paginationTdA({
            elemPerPage: 1
        });
    });
</script>
</html>